*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing:border-box;
}
h1{
  text-align: center;;
  padding: 20px 0 20px 0;
  font-size: 40px;
  color: grey;
}
.wrapper{
  width: 800px;
  margin: 0 auto;
  font-size: 0px;
  line-height: 0px;

}
nav{
  margin-top: 30px;
  height: 60px;
  background: grey;
}
nav img{
    width: 110px;
}
li{
  position: relative;
  top: 5px;
  width: 12%;
  text-align: center;
  list-style-type: none;
  float: left;

}
li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
img{
  display: block;
  width: 800px;
  height: auto;
}
